body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #EAEAEA;
}

.titulo{
  font-size: 30px;
  font-weight: bold;
  color: #003580;
}
.titulos{
  font-size: 45px;
  font-weight: bold;
  color: #003580;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.row{
  margin-right: 0;
}
p, li {
  color: #444;
  font-size: 14px;
}

/* Barra de navegação */
header, .navbar {
  background-color: #003580;
  padding-left: 33px;
}

#nav-container {
  padding-top: 0;
  padding-bottom: 0;
}

#logo {
  width: 75px;
  
}

.navbar-brand {
  color: #FFF;

}
/*barra de pesquisa */


.navbar-brand:hover {
  color: #FFF;
}

#navbar-links a {
  color: #FFF;
  font-weight: bold;
 
}
.col-aligncenter{float: none;margin: 0 auto;}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem .8rem;
}

.nav-item.active {
  border-bottom: 3px solid #FFF;
}

/*input search bar */
.form-control{
  border-radius: 0;
}
.form-control::placeholder{
  font-size:13px;
}

#area .btn{
  background-color: #003580;
}
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-fluid{
  padding:0;
  margin: 0;
}

#principal{
  background-color: #E8C200;
}
.col-md-4{
  padding-left: 33px;
  
}

/* sobre */
#sobre-area{
  background-color: #EAEAEA;
}

.titulo-sobre{
  color: #003580;
  font-weight: bold;
  text-align: center;
}

/* busca */
.buscando{
  color: #003580;
  font-weight: bold;
}
#busca{
  background-color: #EAEAEA;
}
.col-sm-3{
  padding-bottom: 24px;
}
#busca .container{
  padding-top: 50px;
}

.card-title{
  font-weight: bold;
}

.card{
  border-color: #003580;
}
.card .btn{
  background-color: #003580;
  color: #FFF;
}

footer{
  padding-top: 50px;
}

#copy-area {
  background-color:#003580;
}

#copy-area .container {
  padding: 10px 0;
  text-align: center;
}

#copy-area .container p {
  margin-bottom: 0;
  color: #FFF;
  
}
/* tela ver mais  */
/* avaliaçao estrelas */

.estrela input{
  display: none;
}

.estrela label i.fa-star::before{
  content: '\f005';
  color: #fc0;
}

.estrela input:checked ~ label i.fa-star::before{
  color: #ccc;
} 

#avaliacao .btn{
  background-color: #409B00;
  color: #FFF;
}
#avaliacao .form-group{
  padding-bottom: 10px;
}

#ponto-turistico-info .titulo-ponto-turistico{
  text-align: center;
  color: #003580;
  font-weight: bold;
}

#ponto-turistico-info .container{
  padding-top: 50px;
}

#ponto-turistico-info .row{
  padding-top: 50px;
}

#avaliacao .container{
  padding-top: 50px;
}

.feedback-star .span{
  color: #fc0;
  font-size: 25px;
}

.feedback{
  font-weight: bold;
}
/* tela listar todos locais  */

#listar-locais .container{
  padding-top: 50px;

}

.titulo-pontos-turisticos{
  text-align: center;
  color: #003580;
  font-weight: bold;
}

#listar-locais .row{
  padding-top: 50px;

}


/* dashboard*/

#dashboard form{
  display: inline-block;
}

.cadastrar-novo-local .btn{
  background-color: #409B00;
  color: #FFF;
  font-weight: bold;
}
#dashboard a{
  background-color: #409B00;
}

#dashboard button{
  background-color: #F22C00;
}

#dashboard {
  padding-top: 50px;
}

#dashboard .meus-locais{
  text-align: center;
  font-weight: bold;
  color: #003580;
}

#dashboard{
  height: 90vh;
}
  

/* Editar local*/

#edit .container{
  background-color: #FFF;
}


#edit h2{
  text-align: center;
  font-weight: bold;
  color: #003580;
}


#edit {
  padding-top: 50px;
  height: 90vh;
}

#edit .btn{
  background-color: #409B00;
  color: #FFF;
}

/* Cadastrar local*/

#cadastar-local h2{
  text-align: center;
  font-weight: bold;
  color: #003580;
}

#cadastar-local {
  padding-top: 50px;
  height: 90vh;
}

#cadastar-local .btn{
  background-color: #409B00;
  color: #FFF;
}

#cadastar-local .container{
  background-color: #FFF;
}


