body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #EAEAEA;
}

.titulo{
  font-size: 30px;
  font-weight: bold;
  color: #003580;
}
.titulos{
  font-size: 40px;
  font-weight: bold;
  color: #003580;
  line-height: 40px;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.row{
  margin-right: 0;
}
p, li {
  color: #444;
  font-size: 14px;
}

/* Barra de navegação */
header, .navbar {
  background-color: #003580;
  padding-left: 33px;
}

#nav-container {
  padding-top: 0;
  padding-bottom: 0;
}

#logo {
  width: 75px;
  
}

.navbar-brand {
  color: #FFF;

}
/*barra de pesquisa */


.navbar-brand:hover {
  color: #FFF;
}

#navbar-links a {
  color: #FFF;
  font-weight: bold;
 
}
#principal .container{
  padding-left: 20%;
}

#principal .btn{
  background-color: #003580;
  color: #FFF;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem .8rem;
}

.nav-item.active {
  border-bottom: 3px solid #FFF;
}

/*input search bar */
.form-control{
  border-radius: 0;
}
.form-control::placeholder{
  font-size:13px;
}

#area .btn{
  background-color: #003580;
}

.container-fluid{
  padding:0;
  margin: 0;
}

#principal{
  background-color: #E8C200;
}


/* sobre */
#sobre-area{
  background-color: #EAEAEA;
}

.titulo-sobre{
  color: #003580;
  font-weight: bold;
  text-align: center;
}

/* busca */
.buscando{
  color: #003580;
  font-weight: bold;
}
#busca{
  background-color: #EAEAEA;
}
.col-sm-3{
  padding-bottom: 24px;
}
#busca .container{
  padding-top: 50px;
}

.card-title{
  font-weight: bold;
}

.card{
  border-color: #003580;
}
.card .btn{
  background-color: #003580;
  color: #FFF;
}

footer{
  padding-top: 50px;
}

#copy-area {
  background-color:#003580;
}

#copy-area .container {
  padding: 10px 0;
  text-align: center;
}

#copy-area .container p {
  margin-bottom: 0;
  color: #FFF;
  
}
/* tela ver mais  */
/* avaliaçao estrelas */

.estrela input{
  display: none;
}

.estrela label i.fa-star::before{
  content: '\f005';
  color: #fc0;
}

.estrela input:checked ~ label i.fa-star::before{
  color: #ccc;
} 

#avaliacao .btn{
  background-color: #409B00;
  color: #FFF;
}
#avaliacao .form-group{
  padding-bottom: 10px;
}

#ponto-turistico-info .titulo-ponto-turistico{
  text-align: center;
  color: #003580;
  font-weight: bold;
}

#ponto-turistico-info .container{
  padding-top: 50px;
}

#ponto-turistico-info .row{
  padding-top: 50px;
}

#ponto-turistico-info .card-body p{
  margin-bottom: 5px;
}

#avaliacao .container{
  padding-top: 50px;
}
.feedback-star h4{
  margin: 0;
}
.feedback-star {
  padding-top: 15px;
  border-bottom: solid;
  border-width: 1px;
}
.feedback-star .span{
  color: #fc0;
  font-size: 25px;
}

.feedback{
  font-weight: bold;
}
#avaliacao .form-group input{
  background-color: #fff;
  border-radius: 8px;
}
#avaliacao textarea{
  background-color: #fff;
  border-radius: 8px;
}
/* tela listar todos locais  */

#listar-locais .container{
  padding-top: 50px;

}

.titulo-pontos-turisticos{
  text-align: center;
  color: #003580;
  font-weight: bold;
}

#listar-locais .row{
  padding-top: 42px;

}

/* dashboard*/

.menu-dashboard{
  text-decoration:none;
  color: #003580;
  font-size: 20px;
}
#dashboard form{
  display: inline-block;
}
#dashboard .col-12{
  padding-top: 20px;
}
#dashboard link{
  background-color: #409B00;
  color: #FFF;
}
.cadastrar-novo-local .btn{
  background-color: #409B00;
  color: #FFF;
  font-weight: bold;
}
#dashboard .update{
  background-color: #409B00;
  color: #FFF;
  
}

#dashboard button{
  background-color: #F22C00;
  color: #FFF;
}

#dashboard {
  padding-top: 50px;
}
.alinhadoDireita {
  text-align:right;
  border-radius: 0 10px 10px 0;
}
.bdr{
  border-radius: 10px 0 0 10px;
}
#dashboard .meus-locais{
  text-align: center;
  font-weight: bold;
  color: #003580;
}

#dashboard{
  height: 90vh;
}
  

/* Editar local*/

#edit .container{
  background-color: #FFF;
  border-radius: 10px;
}
#edit .form-control-file{
  background-color: #FFF;
}
#edit .container .container{
  padding-top: 15px;
  padding-bottom: 15px;
}
#edit .form-group{
  padding-top: 10px;

}
#edit .form-group input{
  background-color: #EAEAEA;
  border-radius: 8px;
}
#edit textarea{
  background-color: #EAEAEA;
  border-radius: 8px;
}
#edit h2{
  text-align: center;
  font-weight: bold;
  color: #003580;
  padding-bottom: 17px;
}


#edit {
  padding-top: 25px;
  height: 90vh;
}

#edit .form-group .btn{
  background-color: #409B00;
  color: #FFF;
}

/* Cadastrar local*/

#cadastrar-local .container{
  background-color: #FFF;
  border-radius: 10px;
}
#cadastrar-local .form-control-file{
  background-color: #FFF;
}
#cadastrar-local .container .container{
  padding-top: 15px;
  padding-bottom: 15px;
}
#cadastrar-local .form-group{
  padding-top: 10px;

}
#cadastrar-local .form-group input{
  background-color: #EAEAEA;
  border-radius: 8px;
}
#cadastrar-local textarea{
  background-color: #EAEAEA;
  border-radius: 8px;
}
#cadastrar-local h2{
  text-align: center;
  font-weight: bold;
  color: #003580;
  padding-bottom: 17px;
}


#cadastrar-local {
  padding-top: 25px;
  height: 90vh;
}

#cadastrar-local .form-group .btn{
  background-color: #409B00;
  color: #FFF;
}
