*{
    margin: 0;
    padding: 0;
  }
  
  header a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    font-weight: bold;
    
  }
  header a:hover{
    opacity: 0.7;
  }
  
  .logo img{
    width: 150px;
    height: 120px;
  }
  
  nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: system-ui,-apple-system, Helvetica, arual, sans-serif;
    background: #374903;
    height: 10vh;
  }
  
  .nav-list{
    list-style: none;
    display: flex;
    margin-right: 10px;
  }
  .nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu{
    display: none;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 600px){
    body{
      overflow-x: hidden;
    }
    .nav-list{
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height:100vh;
      background: #374903;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
      z-index:1000;
      margin-right: 0;
    }
    .nav-list li{
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu{
      display: block;
    }
    .barra {
      width: 100%;
      position: relative;
      display: flex;
      margin-top: 70px;
  }
    #titulo2 {
      font-family: system-ui,-apple-system, Helvetica, arual, sans-serif;
      font-size: 48px;
      color: #fff;
      text-align: center;
      text-shadow: black 0.1em 0.1em 0.2em;
  }
  #titulo1 {
      margin-top: 140px;
      font-family: system-ui,-apple-system, Helvetica, arual, sans-serif;
      font-size: 37px;
      color: #fff;
      text-align: center;
      text-shadow: black 0.1em 0.1em 0.2em;
  }
  .centro{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  }
  
  .nav-list.active{
    transform: translateX(0);
  }
  
  @keyframes navLinkFade{
    form{
      opacity: 0;
      transform: translateX(50px);
    }
    to{
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1{
      transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2{
      opacity: 0;
  }
  
  .mobile-menu.active .line3{
      transform: rotate(45deg) translate(-5px, -7px);
  }
  main{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    
  }
  .slider{
    width: 100%;
    height: 90vh;
    overflow: hidden;
  
     
    position: absolute;
  
  
   
  }
  
  .slides{
    width: 400%;
    height: 90vh;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 25%;
    position: relative;
    transition: 2s;
  }
  
  .slide img{
    width: 100%;
    height: 90vh;
  }
  
  .manual-navigation{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background-color: #fff;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -25%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -50%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -75%;
  }
  
  .navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .navigation-auto{
    position: absolute;
    width: 100%;
    margin-top: 100vh;
    display: flex;
    justify-content: center;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #fff;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #fff;
  }
  
  
  .barra {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .bar {
    width: 50%;
    border: 3px solid #374903;
    border-right: none;
    padding: 5px;
    height: 25px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
    
  }
  
  .bar:focus{
    color: #374903;
  }
  
  .botaobar {
    width: 40px;
    height: 40px;
    border: 1px solid #374903;
    background: #374903;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    
  }
  
  .centro{
    width: 30%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .textoprincipal{
  position:relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  
  
  }
  
  .titulos{
  z-index: 888;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10em;
  font-family: sans-serif;
  text-shadow: black 0.1em 0.1em 0.2em;
  
  
  }
  
  .titulos h1{
  font-size: 4em;
  font-weight:900;
  text-transform: upprcase;
  letter-spacing:5px;
  line-height: 40px;
  margin-bottom:40px;
  font-family: sans-serif;
  text-shadow: black 0.1em 0.1em 0.2em;
  
  }
  
  footer{
    background-color: #374903;
    height: 60px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  
  .redes-sociais ul li {
  margin-left: 16px;
  display: inline-block;
  list-style: none;
  
  }
  